@font-face {
    font-family: "Meraki";
    src: url("fonts/MerakiTRIAL-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "HomeVideo";
    src: url("fonts/HomeVideo-BLG6G.ttf") format("truetype");
  }
  
  html, body {
    margin: 0;
    padding: 0;
    background: rgb(228, 255, 133);
  }
  
  canvas {
    display: block;
  }
  
  .content{
    width: 30vw;
    height: 75vh;
    border-radius: 20px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 40px;
    margin-left: 60vw;
    margin-top: 10vh;
  }
  
  .funfact{
    font-family: HomeVideo;
    font-size: 30px;
    text-align: center;
  }
  
  .myface{
    background-image: url('imgs/face20.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
  }
  
  h1{
    font-family: HomeVideo;
    font-size: 60px;
    text-align: center;
  }

  h2{
    font-family: HomeVideo;
    font-size: 15px;
    padding-bottom: 40px;
    text-align: center;
  }

  #restartBtn {
    font-family: HomeVideo;
    font-size: 50px;
    text-align: center;
    border-radius: 20px;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    color: grey;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 40px;
}

#restartBtn:hover {
    font-family: HomeVideo;
    font-size: 50px;
    text-align: center;
    border-radius: 20px;
    display: block;
    margin-top: 40px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 5px;
}

#gameInfo{
    font-family: HomeVideo;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(253, 255, 210);
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
}